black==25.11.0
flake8==7.3.0
fastapi==0.115.5
uvicorn[standard]==0.29.0
python-dotenv==1.0.0
pydantic==2.9.2
pydantic-settings==2.5.2
sqlalchemy>=2.0.36
sqlmodel>=0.0.14
web3==6.13.0
eth-account==0.10.0
itsdangerous==2.2.0
python-multipart==0.0.9
redis==7.1.0
pyjwt==2.10.1
cryptography==46.0.3
setuptools==75.1.0
